# pip install -r requirements.txt

ultralytics>=8.0.134

fastapi>=0.107.0
uvicorn>=0.23.0
python-multipart>=0.0.6

opencv-python>=4.8.0
pillow>=10.0.0
matplotlib>=3.8.0
numpy>=1.26.0

roboflow>=1.0.1

# Add for TTS
gtts
pygame
pyttsx3